
section.manage-templates-wrapper {
    margin-top: 4.5rem;
    padding: 2rem;
}

// tr {
//     cursor: pointer;
// }

// table.dataTable tr:hover { background-color:  red; }
table.dataTable tr:nth-child(even)  { background-color: #D3D3D3;  }