<script src="../static/js/script.js"></script>
<div id="templateBody" class="template-body">
    <div class="title">
        Syslog {{markup}}
    </div>
    <div class="content">
        <form action="">
            <p>Number of hosts: <input id="hostCount" type="number" value="1"></p>
            <div class="sys-host" id="sysHost">
                <p id="sysHost">Enter a syslog host: <input id="getHost" class="get-host" type="text" placeholder="146.36.114.214"></p>
            </div>
            <button id="showConfig">Show Configuration</button>
        </form>
        <textarea class="config-ta" id="config-ta"  oninput="this.style.height = '';this.style.height = this.scrollHeight + 'px'">{{ markup }}</textarea>
        <div class="actions">
            <button id="copy">Copy</button>
            <button id="export">Export</button>
        </div>
    </div>
</div>