<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="../static/js/script.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Device Configs</title>
</head>
<body>
    <nav>
        <h1>Device Configuration Generator</h1>
    </nav>
    <main>
        <div class="sidebar" id="sidebar">
            <h2>Templates</h2>
        </div>
        <div class="template-container">
            <div class="template-body">
                <div class="title">
                    Template 1
                </div>
                <div class="content">
                    <form action="">
                        <p>Enter a syslog host: <input id="getHost" type="text" placeholder="146.36.114.214"></p>
                        <button id="showConfig">Show Configuration</button>
                    </form>
                    <div class="config" id="config">
                        <p>logging trap informational</p>
                        <p>logging history size 10</p>
                        <p>logging host <span id="displayHostInConfig"></span></p>
                        <p>logging buffered 128000</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>